$browser-context: 16;

@function rem($pixels, $context: $browser-context) {
  @return #{$pixels/$context}rem;
}

@function rem-to-px($rem, $context: $browser-context) {
  @return $rem * ($context * 1px);
}

@function vw($object) {
  $vw: (320 * 0.01) * 1px;

  @return ($object * 1px / $vw) * 1vw;
}

// ----------------------

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin transition($element: all, $time: 0.2) {
  transition: $element #{$time}s ease-in-out;
}
